body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, p, ul {
  margin: 0
}

h1 {
  font-size: 1rem;
}

header, ul {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}

header {
  background-color: black;
  color: white;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  font-size: 0.9rem;
}

header ul {
  color: lightgray;
  width: 40vw;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}

div.landing-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  color: white;
}

div.landing-pic img {
  width: 60vw;
  padding: 16px;
}

div.landing-pic h2 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.5rem;
  width: 60vw;
}

div.landing-pic div.extra-text {
  position: absolute;
  bottom: 10%;
  right: 25%;
}

main {
  padding-top: 24px;
  background-color: #eeeeee;
}

main h2 {
  padding-bottom: 12px;
}

div.extra-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

div.card-container {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

div.card {
  display: flex;
  background-color: white;
  width: 60vw;
  margin: 8px;
  border-radius: 10px;
}

div.card img {
  width: 200px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

div.text {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

div.text h3 {
  font-size: 1.5rem;
  color: gray;
}

div.company-info {
  padding-top: 24px;
}

div.company-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 16px;
  padding: 16px;
}

div.company-grid img {
  width: 200px;
}

footer {
  background-color: #343434;
  color: white;
  padding-top: 24px;
}

div.all-menus {
  display: flex;
  justify-content: space-around;
}

div.menu-list ul {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: lightgray;
}

footer p {
  text-align: center;
  color: lightgray;
  font-size: 0.8rem;
}